<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Admin panel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!--Полоса-заголовок-->
<div class="container-fluid" style="background-color: #353535">
    <div class="row d-flex justify-content-between align-items-center py-2">

        <div class="col-auto">
            <span class="text-white" style="font-weight: bold; font-size: 25px;"
                  th:text="${#authentication.name}"></span>
            <span class="text-white" style="font-size: 25px;" th:text="' with roles: '"></span>
            <span class="text-white" th:each="role : ${#authentication.getAuthorities()}">
                    <span style="font-size: 25px;" th:text="${#strings.substring(role.getAuthority(), 5)} + ' '"></span>
            </span>
        </div>

        <div class="col-auto">
            <form action="/logout" method="post" style="display: inline;">
                <button type="submit"
                        style="background: none; border: none; color: #8f8f8f; font-size: 1.5rem; line-height: 1.2; cursor: pointer;">
                    Logout
                </button>
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            </form>
        </div>

    </div>
</div>
<!--Основная часть-->
<div class="container-fluid py-4">
    <div class="row">
        <!--Навигационная панель сбоку-->
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2" style="background-color: #f4f4f4; height: 100vh;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" th:href="@{user}" role="tab" aria-controls="v-pills-user"
                   aria-selected="true">User</a>
            </div>
        </div>
        <!--Вкладки навигационной панели-->
        <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
            <div class="tab-content" id="v-pills-tabContent">
                <!--Admin вкладка-->
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">

                    <h1 style="margin-top: 20px; margin-bottom: 30px;">Admin panel</h1>
                    <!--Navbar-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                               aria-controls="admin" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" id="user-tab" href="#addNewUser" role="tab"
                               aria-controls="user" aria-selected="false">New user</a>
                        </li>
                    </ul>

                    <!--Содержимое рабочей области                    -->
                    <div class="tab-content" id="myTabContent">
                        <!--1 вкладка - таблица с пользователями    -->
                        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">

                            <div class="py-3" style="background-color: #f4f4f4; border: 1px solid #ddd;">
                                <h4 class="text-left" style="margin-left: 10px;">All users</h4>
                            </div>

                            <div class="table-responsive" style="padding: 20px; border: 1px solid #ddd;">
                                <table class="table table-striped" style="background-color: #ffffff">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usersTableBody">
                                    <!-- Данные будут заполняться через JavaScript - function loadUsersTable() -->
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <!--2 вкладка - добавить нового пользователя    -->
                        <div class="tab-pane fade" id="addNewUser" role="tabpanel" aria-labelledby="user-tab"
                             style="border: 1px solid #ddd;">
                            <div class="py-3" style="background-color: #f4f4f4; border: 1px solid #ddd;">
                                <h4 class="text-left" style="margin-left: 10px;">Add new user</h4>
                            </div>

                            <div class="container" style="display: flex; justify-content: center; align-items: center;">
                                <form id="userForm" style="padding: 20px; width: 50%;">
                                    <div class="form-group">
                                        <label for="exampleInputFirst"
                                               style="display: flex; justify-content: center; align-items: center; font-weight: bold;">First name</label>
                                        <input type="text" class="form-control" name="firstName"
                                               id="exampleInputFirst" placeholder="First name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputLast"
                                               style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Last name</label>
                                        <input type="text" class="form-control" name="lastName"
                                               id="exampleInputLast" placeholder="Last name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputAge"
                                               style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Age</label>
                                        <input type="number" class="form-control" name="age" id="exampleInputAge"
                                               placeholder="Age" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail"
                                               style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Email</label>
                                        <input type="email" class="form-control" name="username"
                                               id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword"
                                               style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Password</label>
                                        <input type="password" class="form-control" name="password"
                                               id="exampleInputPassword" placeholder="Password" required>
                                    </div>
                                    <label for="roles"
                                           style="display: flex; justify-content: center; align-items: center; font-weight: bold;">Role</label>
                                    <select class="custom-select" multiple id="roles" name="roles" required>
                                        <option th:each="role : ${roles}" th:value="${role.getId()}"
                                                th:text="${#strings.substring(role.getName(), 5)}"></option>
                                    </select>
                                    <br>
                                    <br>
                                    <div style="display: flex; justify-content: center;">
                                        <button class="btn btn-success" type="button" id="addNewUserButton">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/admin.js"></script>

</body>
</html>
