<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Home page</title>
</head>

<body>

<h1>Welcome to home page for all!</h1>
<br>

<!--Имя-->
<!--<span sec:authentication="name">Username</span>-->

<!--Права-->
<!--<span sec:authentication="principal.authorities">Roles</span>-->

<div sec:authorize="isAuthenticated()">
    <form th:action="@{logout}">
        <input type="submit" value="Exit"/>
    </form>
</div>

</body>
</html>