<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Personal page</title>
</head>

<body>

<h2 th:text="${#authentication.name} + ', welcome to your personal page'"></h2>
<br>
<h3>You can see your details below</h3>
<br>

<table style="border-collapse: separate; border-spacing: 30px;">
    <tr>
        <th>Roles</th>
        <th>E-mail</th>
        <th>Account status</th>
    </tr>
    <tr>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <span th:text="${role.getName()}">
                    <br>
                </span>
            </div>
        </td>
        <td th:text="${user.email}"></td>

        <td style="text-align: center;" th:if="${user.getEnabled() == 1}" th:text="Active"></td>
        <td style="text-align: center;" th:if="${user.getEnabled() == 0}" th:text="Blocked"></td>
    </tr>
</table>

<br>

<!--Вариант кнопкой-формой-->
<form th:action="@{logout}">
    <input type="submit" value="Exit"/>
</form>

<!--Вариант гиперссылкой-->
<!--<a th:href="@{logout}">Выйти</a>-->

</body>
</html>